@CHARSET "UTF-8";

	.signin{
		position: fixed;
		top: 100px;
		right: 40px;
		z-index:999;
	}
	.signin-title{
		color:darkolivegreen;
		font-size: 18px;
		text-align:center;
		margin:0 auto;
	}
	.user{
		width: 150px;
		height: 20px;
		margin-top: 5px;
	}
	.password{
		width: 150px;
		height: 20px;
		margin-top: 5px;
	}
	.signin-submit{
		width: 100%;
		height: 25px;
		background-color: lightblue;
		color: white;
		border: hidden;
		margin-top: 5px;
	}
	.signin-remind{
    	font-size:10px;
    	color: #f00;
    	display: inline;
    	height: 500px;
	}